@use "../util/" as *;
.locations {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  .location {
    border-radius: rem(15);
    width: 100%;
    background-color: $cardcolor;
    text-align: center;
    img {
      width: 100%;
      border-top-left-radius: rem(15);
      border-top-right-radius: rem(15);
    }
  }
  .location-info {
    padding: rem(30) 0;
    display: flex;
    flex-direction: column;
    gap: rem(30);
    h2 {
      color: $peach;
    }
    @include breakpoints("medium") {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    @include breakpoints("large") {
      flex-direction: column;
    }
  }
  @include breakpoints("large") {
    flex-direction: row;
  }
}
